/*@charset "UTF-8";*/
#userMessage{
	position: relative;
	left: 350px;
}

#userMessage p{
	display: inline-block;
	border: solid 2px black;
	margin: 5px 0;
	padding: 10px;
	background-color : lightblue ;
}

#userMessage p button{
	text-position: center;
}

#otherMessage{
	position: relative;
	left: 50px;
}

#otherMessage p{
	display: inline-block;
	border: solid 2px black;
	margin: 5px 0;
	padding: 10px;
	background-color : lightgreen ;
}
