@charset "UTF-8";
/*
=====以下メモ===========================================================================================================
【!!!これはこれは、メイン(全画面共通)のCSSです!!!】
作成者：いよ

【このcssを指定するときは、以下をjspファイル内<head></head>に追加】
<!-- 全画面共通cssを指定 -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">


【idセレクタ→#で指定】
#bgcolor {
	background:#81F7F3,
	color:white;
}

【classセレクタ→.で指定】
.bgcolor {
	background:pink,
	color:#B40431;
}
=====以上メモ===========================================================================================================
*/


/* -----ページ全体----- */



/* -----ヘッダー----- */




}

/* -----メイン----- */

